[submodule "libs/reflect-cpp"]
	path = libs/reflect-cpp
	url = https://github.com/jowillianto/reflect-cpp
[submodule "libs/emsdk"]
	path = libs/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11
