[submodule "libs/reflect-cpp"]
	path = libs/reflect-cpp
	url = https://github.com/getml/reflect-cpp
[submodule "libs/variant_error"]
	path = libs/variant_error
	url = https://github.com/jowillianto/moderna_variant_error
[submodule "libs/emsdk"]
	path = libs/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11
